/* Import */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
  font-family: 'Inter Tight', 'Segoe UI', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  /* Copyright: https://wallpaperaccess.com/full/3072633.jpg */
  background-image: url('../assets/3072633.webp');
  background-size: 100%;
}

/* Style h1 */
h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 50px;
  color: ghostwhite;
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
  flex-direction: column;
}

/* FORM */
.input-block-container {
  display: flex;
  justify-content: center;
}

.input-items {
  margin: 0 1rem;
  padding: .2rem 1rem;
  border-radius: 95px;
}


